@page
@model PinkCross.Pages.DonorProfiles.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Donor Profile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DonorProfile.ID" />
            <div class="form-group">
                <label asp-for="DonorProfile.DonorName" class="control-label"></label>
                <input asp-for="DonorProfile.DonorName" class="form-control" />
                <span asp-validation-for="DonorProfile.DonorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorProfile.Donornric" class="control-label"></label>
                <input asp-for="DonorProfile.Donornric" class="form-control" />
                <span asp-validation-for="DonorProfile.Donornric" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorProfile.CompanyName" class="control-label"></label>
                <input asp-for="DonorProfile.CompanyName" class="form-control" />
                <span asp-validation-for="DonorProfile.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorProfile.DonorNumber" class="control-label"></label>
                <input asp-for="DonorProfile.DonorNumber" class="form-control" />
                <span asp-validation-for="DonorProfile.DonorNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorProfile.DonorAddress" class="control-label"></label>
                <input asp-for="DonorProfile.DonorAddress" class="form-control" />
                <span asp-validation-for="DonorProfile.DonorAddress" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
